{% load static %}
<div class="container">
    <div class="d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
        <div class="d-flex flex-column w-75">
            <h6>
                <span class="badge badge-primary background-color-primary-orange color-primary-black">Features</span>
            </h6>
            <h1 class="fw-700 color-gray-900">All-in-one finance for any business</h1>
            <p class="color-gray-600">
                Get a deposit account, credit card, and spend management software—in one refreshingly easy solution. No fees or minimums.
            </p>
            <img class="m-md-5" src="{% static "assets/image/industry/industry_mobile_app.png" %}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="background-color-yellow py-1 px-1 m-3 w-100"></div>
                <h6 class="fw-bold my-3">Share team inboxes</h6>
                <p class="color-gray-600 lh-24">
                    Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="background-color-yellow py-1 px-1 m-3 w-100"></div>
                <h6 class="fw-bold my-3">Deliver instant answers</h6>
                <p class="color-gray-600 lh-24">
                    An all-in-one customer service platform that helps you balance everything your customers need to be happy.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="background-color-yellow py-1 px-1 m-3 w-100"></div>
                <h6 class="fw-bold my-3">Manage your team with reports</h6>
                <p class="color-gray-600 lh-24">
                    Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
                </p>
            </div>
        </div>
    </div>
</div>
