{% load static %}
<div class="container margin-top-10 margin-bottom-10">
    <div class="d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
        <p class="fw-400 color-primary-gray-600">We’re changing the game</p>
        <div class="d-flex flex-row flex-wrap justify-content-around">
            <img class="p-3" src="{% static "assets/image/industry/washington_post_logo.png" %}">
            <img class="p-3" src="{% static "assets/image/industry/tech_crunch_logo.png" %}">
            <img class="p-3" src="{% static "assets/image/industry/bloomberg_logo.png" %}">
            <img class="p-3" src="{% static "assets/image/industry/gizmodo_logo.png" %}">
            <img class="p-3" src="{% static "assets/image/industry/forbes_logo.png" %}">
        </div>
    </div>
</div>
