{% load static %}
<div class="container margin-top-20 margin-bottom-5 background-color-gray-100">
    <div class="d-flex flex-sm-row flex-md-row justify-content-around flex-column">
        <div class="px-3 p-md-5 text-start overflow-hidden">
            <div class="fs-14 my-3 py-3">
                <h1 class="fs-48 lh-60 fw-700 color-primary-gray-900 my-md-3">
                    No long-term contracts.
                    No catches.
                </h1>
                <p class="fs-20 lh-30 color-gray-600">Start your 30-day free trial today.</p>
            </div>
            <div class="mx-auto m-3">
                <a class="btn bg-white fs-18 fw-700 p-3 m-3 border">Learn more</a>
                <a class="btn background-color-primary-blue fs-18 fw-700 p-3 m-3 border"
                   href="{% url "users:access_request" %}">Get started</a>
            </div>
        </div>
        <div class="p-3 d-none d-xl-block">
            <img src="{% static "assets/image/industry/industry_trial_photos.png" %}">
        </div>
    </div>
</div>
