{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <!-- start banner section -->
    <div class="bg-white vh_100">
        <div class="container mb-5">
            {% include "common/header_light.html" %}
            {% include "industry/industry_header.html" %}
            {% include "home/home_companies.html" %}
            {% include "industry/industry_trial.html" %}
            <!-- MAKE RESPONSIVE TODO-->
            {% include "industry/industry_mobile_app.html" %}
            {% include "industry/industry_companies_list.html" %}
            {% include "blog/latest_posts.html" %}
            {% include "industry/start_trial.html" %}
        </div>
    </div>
{% endblock content %}
