{% load static %}
<div class="container w-50">
    <!--top-->
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <p class="color-primary-black fw-700">Features</p>
        <h1 class="fw-700 color-gray-900">Beautiful analytics to grow smarter</h1>
        <p class="color-gray-600  lh-30">
            Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups.
        </p>
    </div>
    <!-- card 1-->
</div>
