{% load static %}
<div class="container">
    <!--top-->
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <p class="color-primary-black fw-700">Features</p>
        <h1 class="fw-700 color-gray-900 mb-5">Beautiful analytics to grow smarter</h1>
        <p class="color-gray-600  lh-30">
            Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups.
        </p>
    </div>
</div>
<!-- CARD 1 -->
<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-wrap align-items-center  flex-column w-100">
        <div class="d-flex flex-wrap flex-column p-5 w-100">
            <img style="width:50px;height:50px;" class="img-responsive mb-3" src="{% static "assets/image/home/home_chat_icon.png" %}">
            <h4 class="fw-700 color-gray-900">Share team inboxes</h4>
            <p class="color-gray-600 fs-18">
                Whether you have a team of 2 or 200, our shared
                team inboxes keep everyone on the same page and in the loop.
            </p>
            <ul class="list-group px-3">
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Leverage automation to move fast</p>
                </li>
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Leverage automation to move fast</p>
                </li>
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Leverage automation to move fast</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <img class="img-max" src="{% static "assets/image/home/home_screen_mockup_1.png" %}">
    </div>
</div>
<!-- CARD 2 -->
<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <img class="img-max" src="{% static "assets/image/home/home_screen_mockup_2.png" %}">
    </div>
    <div class="d-flex flex-wrap align-items-center  flex-column w-100">
        <div class="d-flex flex-column p-5 w-100">
            <img style="width:50px;height:50px;" class="img-responsive mb-3" src="{% static "assets/image/home/home_light_icon.png" %}">
            <h4 class="fw-700 color-gray-900">Deliver instant answers</h4>
            <p class="color-gray-600 fs-18">
                An all-in-one customer service platform that helps you balance everything your customers need to be happy.
            </p>
            <ul class="list-group px-3">
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Keep your customers in the loop with live chat</p>
                </li>
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Embed help articles right on your website</p>
                </li>
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Customers never have to leave the page to find an answer</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- CARD 3 -->
<div class="d-flex flex-row justify-content-between mb-5">
    <div class="d-flex flex-wrap align-items-center  flex-column w-100">
        <div class="d-flex flex-column p-5 w-100">
            <img style="width:50px;height:50px;" class="img-responsive mb-3" src="{% static "assets/image/home/home_screen_link_icon.png" %}">
            <h4 class="fw-700 color-gray-900">Manage your team with reports</h4>
            <p class="color-gray-600 fs-18">
                Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
            </p>
            <ul class="list-group px-3">
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Filter, export, and drilldown on the data quickly</p>
                </li>
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Save, schedule, and automate reports to your inbox</p>
                </li>
                <li class="d-flex">
                    <i class="bi bi-check-circle color-primary-blue"></i> &nbsp;
                    <p>Connect the tools you already use with 100+ integrations</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <img class="img-max" src="{% static "assets/image/home/home_screen_mockup_3.png" %}">
    </div>
</div>
