{% load static %}
<div class="container mt-5 w-100">
    <div class="d-flex flex-row flex-wrap justify-content-center w-100">
        <div class="d-flex flex-column flex-wrap justify-content-start align-items-start w-75 text-left">
            <h1 class="fs-36">We’ve helped hundreds of global companies</h1>
            <p class="color-gray-600">Case studies from some of our amazing customers who are building faster.</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            TODO
            <div class>
                <a class="fs-14 br-10 border color-black bg-white fw-700">Our customers</a>
            </div>
            <div>
                <a class="fs-14 br-10 border background-color-primary-blue color-black fw-700">Create account</a>
            </div>
        </div>
    </div>
</div>
