{% load static %}
<div class="container mb-5">
    <!-- title-->
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column text-center w-75">
            <p class="fw-700 color-primary-black ">What’s Tarx learning?</p>
            <h1 class="color-gray-900 fw-700">All you need to run your finances effectively</h1>
            <p class="fs-20 color-gray-600">Open a full-featured account in with virtual cards in less than 5 minutes.</p>
        </div>
    </div>
    <!-- features -->
    <div class="d-flex flex-wrap flex-column justify-content-around align-items-center">
        <!-- row 1-->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img width="50" src="{% static "assets/image/home/home_chat_icon.png" %}">
                    <h6 class="fw-bold my-3">Share team inboxes</h6>
                    <p class="color-gray-600 lh-24">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img width="50" src="{% static "assets/image/home/home_light_2_icon.png" %}">
                    <h6 class="fw-bold my-3">Deliver instant answers</h6>
                    <p class="color-gray-600 lh-24">
                        An all-in-one customer service platform that helps you balance everything your customers need to be happy.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img width="50" src="{% static "assets/image/home/home_screen_link_icon.png" %}">
                    <h6 class="fw-bold my-3">Manage your team with reports</h6>
                    <p class="color-gray-600 lh-24">
                        Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
                    </p>
                </div>
            </div>
        </div>
        <!-- row 2-->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img width="50" src="{% static "assets/image/home/home_smile_chat_icon_link.png" %}">
                    <h6 class="fw-bold my-3">Connect the tools you already use</h6>
                    <p class="color-gray-600 lh-24">
                        Explore 100+ integrations that make your day-to-day workflow more efficient and familiar. Plus, our extensive developer tools.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img width="50" src="{% static "assets/image/home/home_connect_icon_link.png" %}">
                    <h6 class="fw-bold my-3">Connect the tools you already use</h6>
                    <p class="color-gray-600 lh-24">
                        Explore 100+ integrations that make your day-to-day workflow more efficient and familiar. Plus, our extensive developer tools.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img width="50" src="{% static "assets/image/home/home_heart_chat_icon_link.png" %}">
                    <h6 class="fw-bold my-3">Our people make the difference</h6>
                    <p class="color-gray-600 lh-24">
                        We’re an extension of your customer service team, and all of our resources are free. Chat to our friendly team 24/7 when you need help.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
