{% load static %}
<div class="container">
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slide #1 -->
            <div class="swiper-slide flex-wrap d-flex align-items-center">
                <div class="d-flex flex-row justify-content-between">
                    <!-- Card 1-->
                    <div class="d-flex flex-column w-1-3 justify-content-center background-color-primary-blue p-3 mx-5">
                        <div class="mb-5">
                            <img src="{% static "assets/image/home/home_carousel_logo1.png" %}">
                        </div>
                        <div style="background-color:#abc5e4"
                             class="d-flex flex-column text-white border-slim-white lh-28 p-3">
                            <h3 class="fw-700">Layers</h3>
                            <q class="fw-normal my-3">Untitled has saved us thousands of hours of work. We’re able to spin up projects faster.</q>
                            <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                        </div>
                    </div>
                    <!-- Card 2-->
                    <div class="d-flex flex-column w-1-3 justify-content-center background-color-success-600 p-3 mx-5">
                        <div class="mb-5">
                            <img src="{% static "assets/image/home/home_carousel_logo2.png" %}">
                        </div>
                        <div style="background-color:#4eb788"
                             class="d-flex flex-column text-white border-slim-white lh-28 p-3">
                            <h3 class="fw-700">Sisyphus</h3>
                            <q class="fw-normal my-3">We’ve been using Untitled to kick start every new project and can’t work without it.</q>
                            <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                        </div>
                    </div>
                    <!-- Card 3-->
                    <div class="d-flex flex-column w-1-3 justify-content-center background-color-primary-blue-600 p-3 mx-5">
                        <div class="mb-5">
                            <img src="{% static "assets/image/home/home_carousel_logo3.png" %}">
                        </div>
                        <div style="background-color:#5a9af3"
                             class="d-flex flex-column text-white border-slim-white lh-28 p-3">
                            <h3 class="fw-700">Circooles</h3>
                            <q class="fw-normal my-3">Love the simplicity of the service and the prompt customer support.</q>
                            <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!-- initializing swiper-->
<script>
    const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,


    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

    });
</script>
