{% load static %}
<div class="container ">
    <!-- Slider main container -->
    <div class="swiper w-100">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
            <!-- Slide-1-->
            <div class="swiper-slide w-100">
                <div class="row p-5 w-100">
                    <!-- Card 1 -->
                    <div class="col-md-4 col-sm-4 col-xs-6 p-3 my-3">
                        <div class="p-md-3 p-sm-3 background-color-primary-blue">
                            <div class="p-3">
                                <img src="{% static "assets/image/home/home_carousel_logo1.png" %}">
                            </div>
                            <div style="background-color:#abc5e4"
                                 class="d-flex flex-wrap flex-column text-white text-start border-slim-white lh-28 my-3 p-3">
                                <h3 class="fw-700 p-1">Layers</h3>
                                <p class="fw-normal my-3">Untitled has saved us thousands of hours of work. We`re able to spin up projects faster.</p>
                                <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-md-4 col-sm-4 col-xs-6 p-3 my-3">
                        <div class="p-md-3 p-sm-3 background-color-success-600">
                            <div class="p-3">
                                <img src="{% static "assets/image/home/home_carousel_logo2.png" %}">
                            </div>
                            <div style="background-color:#4eb788"
                                 class="d-flex flex-wrap flex-column text-white text-start border-slim-white lh-28 my-3 p-3">
                                <h3 class="fw-700 p-1">Sisyphus</h3>
                                <p class="fw-normal my-3">“We’ve been using Untitled to kick start every new project and can’t work without it.”</p>
                                <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-md-4 col-sm-4 col-xs-6 p-3 my-3">
                        <div class="p-md-3 p-sm-3 background-color-primary-blue-600">
                            <div class="p-3">
                                <img src="{% static "assets/image/home/home_carousel_logo3.png" %}">
                            </div>
                            <div style="background-color:#5a9af3"
                                 class="d-flex flex-wrap flex-column text-white text-start border-slim-white lh-28 my-3 p-3">
                                <h3 class="fw-700 p-1">Capsule</h3>
                                <p class="fw-normal my-3">
                                    <q>Love the simplicity of the service and the prompt customer support</q>
                                </p>
                                <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide-1-->
            <div class="swiper-slide w-100">
                <div class="row p-5 w-100">
                    <!-- Card 1 -->
                    <div class="col-md-4 col-sm-4 col-xs-6 p-3 my-3">
                        <div class="p-md-3 p-sm-3 background-color-primary-blue">
                            <div class="p-3">
                                <img src="{% static "assets/image/home/home_carousel_logo1.png" %}">
                            </div>
                            <div style="background-color:#abc5e4"
                                 class="d-flex flex-wrap flex-column text-white text-start border-slim-white lh-28 my-3 p-3">
                                <h3 class="fw-700 p-1">Layers</h3>
                                <p class="fw-normal my-3">
                                    <q>Untitled has saved us thousands of hours of work. We`re able to spin up projects faster.</q>
                                </p>
                                <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-md-4 col-sm-4 col-xs-6 p-3 my-3">
                        <div class="p-md-3 p-sm-3 background-color-success-600">
                            <div class="p-3">
                                <img src="{% static "assets/image/home/home_carousel_logo2.png" %}">
                            </div>
                            <div style="background-color:#4eb788"
                                 class="d-flex flex-wrap flex-column text-white text-start border-slim-white lh-28 my-3 p-3">
                                <h3 class="fw-700 p-1">Sisyphus</h3>
                                <p class="fw-normal my-3">
                                    <q>Weve been using Untitled to kick start every new project and can`t work without it.</q>
                                </p>
                                <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-md-4 col-sm-4 col-xs-6 p-3 my-3">
                        <div class="p-md-3 p-sm-3 background-color-primary-blue-600">
                            <div class="p-3">
                                <img src="{% static "assets/image/home/home_carousel_logo3.png" %}">
                            </div>
                            <div style="background-color:#5a9af3"
                                 class="d-flex flex-wrap flex-column text-white text-start border-slim-white lh-28 my-3 p-3">
                                <h3 class="fw-700 p-1">Capsule</h3>
                                <p class="fw-normal my-3">
                                    <q>Love the simplicity of the service and the prompt customer support.</q>
                                </p>
                                <a style="color:white !important;" href="" class="fw-700">Read case study</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!-- initializing swiper-->
<script>
      var swiper = new Swiper(".swiper", {
        pagination: {
          el: ".swiper-pagination",

        },
  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
    breakpoints: {
    // mobile + tablet - 320-990
    320: {
      slidesPerView: 1,
      spaceBetween: 10,
    },
    // desktop >= 991
    991: {
      slidesPerView: 1,
    spaceBetween: 10,
    }
  }
      });
</script>
