{% load static %}
<div class="container">
    <div class="d-flex flex-column flex-wrap p-5">
        <div class="d-flex flex-column justify-content-start w-75 text-left">
            <p class="color-primary-black">Tarx is built for builders.</p>
            <h1 class="fw-bold lh-44 color-gray-900">Tarx is an Artificial Intelligence API purpose-built for the Enterprise.</h1>
            <p class="color-gray-600 fs-20 lh-30">
                Tarx runs atop leading LLMs to enable leading product teams to to put proprietary data to work to unlock revenue driving use cases and help humans perform better.
            </p>
        </div>
        <!-- list -->
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-wrap  flex-column">
                <!-- card 1-->
                <div class="d-flex flex-wrap flex-column justify-content-start w-75 mb-5">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-grow-3">
                            <img style="width:50px;height:50px;" src="{% static "assets/image/home/home_chat_icon.png" %}">
                        </div>
                        <div class="d-flex flex-column flex-grow-1 p-3">
                            <h6 class="color-gray-900 fw-bold">AI trained for at scale business use cases</h6>
                            <p class="color-gray-600">
                                Give your team the autonomy they need with access to as many cards as they need. Authorise purchases with a click. Simple.
                            </p>
                            <a class="color-primary-black"
                               style="text-decoration: none !important"
                               href="#">Learn more</a>
                        </div>
                    </div>
                </div>
                <!-- card 2-->
                <div class="d-flex flex-wrap flex-column justify-content-start w-75 mb-5">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-grow-3">
                            <img style="width:50px;height:50px;" src="{% static "assets/image/home/home_money_icon.png" %}">
                        </div>
                        <div class="d-flex flex-column flex-grow-1 p-3">
                            <h6 class="color-gray-900 fw-bold">Add your data</h6>
                            <p class="color-gray-600">
                                Every card comes with configurable spending limits, purchase restrictions, and cancellations for each employee and team.
                            </p>
                            <a class="color-primary-black"
                               style="text-decoration: none !important"
                               href="#">Learn more</a>
                        </div>
                    </div>
                </div>
                <!-- card 3-->
                <div class="d-flex flex-wrap flex-column justify-content-start w-75 mb-5">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-grow-3">
                            <img style="width:50px;height:50px;" src="{% static "assets/image/home/home_chat_icon.png" %}">
                        </div>
                        <div class="d-flex flex-column flex-grow-1 p-3">
                            <h6 class="color-gray-900 fw-bold">AI Security & Ethics</h6>
                            <p class="color-gray-600">
                                An all-in-one platform that helps you balance everything your team need to be happy and your finances in order.
                            </p>
                            <a class="color-primary-black"
                               style="text-decoration: none !important"
                               href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- image right side TODO media-->
            <img alt="debit_cards" src="{% static "assets/image/home/home_cards.png" %}">
        </div>
    </div>
</div>
