{% load static %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
        <p class="fw-700 lh-24 color-primary-blue">Contact us</p>
        <h1 class="fs-36 fw-700 my-3">We’d love to hear from you</h1>
        <p class="fs-20 color-gray-600">Our friendly team is always here to chat.</p>
    </div>
    <div class="container text-center p-5">
        <div class="row">
            <div class="col-md">
                <img width="50px" alt="message_icon" src="{% static "assets/image/contact/contact_message_icon.png" %}">
                <p class="fs-20 fw-700 mt-3">Press</p>
                <p class="color-gray-600 my-3">We’re open to sharing our perspective on the commercialization of AI.</p>
                <a style="text-decoration:none !important"
                   href="mailto:press@tarx.com"
                   class="color-primary-blue">press@tarx.com</a>
            </div>
            <div class="col-md">
                <img width="50px" alt="message_icon" src="{% static "assets/image/contact/contact_contact_icon.png" %}">
                <p class="fs-20 fw-700 mt-3">General communicaiton</p>
                <p class="color-gray-600 my-3">For general queries, including partnership opportunities, please email</p>
                <a style="text-decoration:none !important"
                   href="mailto:press@tarx.com"
                   class="color-primary-blue">chat@tarx.com</a>
            </div>
            <div class="col-md">
                <img width="50px" alt="message_icon" src="{% static "assets/image/contact/contact_question_icon.png" %}">
                <p class="fs-20 fw-700 mt-3">Help & Support</p>
                <p class="color-gray-600 my-3">Mon-Fri from 8am to 5pm.</p>
                <a style="text-decoration:none !important"
                   href="mailto:press@tarx.com"
                   class="color-primary-blue">john@tarx.com</a>
            </div>
        </div>
    </div>
</div>
