{% load static %}
<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
        <p class="color-primary-black">We’re available</p>
        <h1 class="fw-700">Contact our commercial team</h1>
        <p class="color-gray-600">We help scale your people and find new revenue with AI</p>
    </div>
    <form style="margin-top:5%;
                 margin-bottom:5%"
          method="post"
          action="{{ request.path }}"
          class="p-3">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row mb-5">
            <div class="col">
                <label>Email*</label>
                <input type="text"
                       name="email"
                       class="form-control"
                       placeholder="Enter your email"
                       required>
            </div>
            <div class="col">
                <label>Work email*</label>
                <input type="text"
                       class="form-control"
                       name="work_email"
                       placeholder="Enter your work email"
                       required>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <label>Which product(s) are you interested in using?</label>
                <select name="interested_product" class="form-control">
                    <option value="" disabled selected>What set you claiming?</option>
                    <option selected value="tarx_chat">Tarx Chat</option>
                    <option value="tarx_api">Tarx API</option>
                </select>
            </div>
            <div class="col">
                <label>What’s your plans for Tarx?</label>
                <select name="tarx_plan" class="form-control" id="exampleFormControlSelect1">
                    <option selected value="personal_superpowers">Personal Superpowers</option>
                    <option value="academic">Academic</option>
                    <option value="supercharge_team">Supercharge my team</option>
                    <option value="comp_intern_ai_tools">Company Internal AI tools</option>
                    <option value="comp_ext_product">Company External product</option>
                    <option value="edu_institution">Educational Institution</option>
                    <option value="gov_org">Three letter .gov organization</option>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <label>Company or organization*</label>
                <input type="text"
                       name="company"
                       class="form-control"
                       placeholder="What set you claiming"
                       required>
            </div>
            <div class="col">
                <label>How many team members will be using Tarx?</label>
                <select name="team_members" class="form-control">
                    <option value="1-10 team members">1-10 team members</option>
                    <option value="11-100 team members">11-100 team members</option>
                    <option selected value="1,000+ team members">1,000+ team members</option>
                    <option value="10,000 team members">10,000 team members</option>
                    <option value="100,000 team members">100,000 team members</option>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <label>What problems can Tarx solve for you?</label>
                <textarea name="solved_problems"
                          class="form-control"
                          rows="3"
                          placeholder="Enter a description..."></textarea>
            </div>
        </div>
        <div style="margin-top:5%;
                    margin-bottom:2.5%"
             class="d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" id="privacyPolicy">
            <label class="form-check-label">
                &nbsp;You agree to our friendly <a href="#" class="color-primary-black">privacy policy.</a>
            </label>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <button id="sendMessageBtn"
                    class="btn fw-700 color-black border rounded px-5 background-color-primary-blue"
                    type="submit"
                    disabled>Send message</button>
        </div>
    </form>
</div>
<script type="text/javascript">
const privacyPolicyCheck = document.getElementById('privacyPolicy');
privacyPolicyCheck.addEventListener('change',e=>{
     if (document.getElementById('privacyPolicy').checked) {
            sendMessageBtn.disabled = false;
        } else {
            sendMessageBtn.disabled = true;
        }
})
</script>
