/* -----------------------*
    GENERAL CSS STYLE
*-------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-weight: 400;
  font-family: "Space Mono", monospace;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
}

.fw-700 {
  font-weight: 700;
}

.lh-24 {
  line-height: 24px;
}

.container {
  max-width: 1696px;
  margin: auto;
  padding: 0px 15px;
}
.container-small {
  max-width: 390px;
  margin: 40px auto;
  padding: 0px 15px;
}
.form-control {
  font-size: 16px;
  padding: 10px 14px;
  color: #667085;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #d0d5dd;
}
.color-primary-black{
  color:#12121280;
}

.color-gray-600{
  color:#475467;
}
.color-gray-900{
  color:#101828;
}

.fw-bold{
  font-weight: bold;
}

.fs-36{
  font-size:36px;
}

.fs-20{
  font-size:20px;
}

.lh-44{
  line-height:44px;
}

.lh-30{
  line-height:30px;
}

.lh-24{
  line-height:24px;
}
/* -----------------------*
     BANNER CSS STYLE
*-------------------------*/
.bg-black {
  background-color: #121212;
}
/* .vh_100 {
  min-height: calc(100vh - 0px);
} */
.vh_100 {
  height: 100% !important;
  min-height: 100% !important;
}
.header-wrap {
  padding: 18px 0px;
}
.navbar-logo span {
  color: #fff;
  font-size: 24px;
  margin-left: 12px;
}
.login-btn-dark{
  color:black;
}

.login-btn,
.login-btn:hover
 {
  color: #fff;
  font-size: 16px;
 }
.request-btn {
  font-size: 16px;
  padding: 10px 18px;
  background: #87add9;
  border: 1px solid rgba(135, 173, 217, 0.75);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.banner-section {
  padding-top: 70px;
  padding-bottom: 50px;
}
.banner-text span {
  font-size: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #87add9;
}
.banner-text h1 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 6px;
  position: relative;
  z-index: 99;
}
.banner-text h1::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 990px;
  z-index: -1;
  border-bottom: 8px solid #ebff59;
}
.banner-text p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.mb-42 {
  margin-bottom: 42px;
}
.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.23px;
  background-color: #fff;
  border-radius: 5.78766px;
  margin: 0px 4px 4px 0px;
  border: 0.723458px solid #d0d5dd;
}
.company-name img {
  margin-right: 5.79px;
}
.company-name span {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
}
.add-more-text {
  cursor: pointer;
  font-size: 16px;
  color: rgba(135, 173, 217, 0.75);
}
.plus-icon {
  padding: 0px 31px;
}
.m-30 {
  margin: 30px 0px 30px 86px;
}

/* -----------------------*
    FOOTER CSS STYLE
*-------------------------*/

.footer{
  padding:2% 1%;
  background-color:#F9FAFB;
}

.footer-logo span {
  font-size: 24px;
  line-height: 90px;
  color: #414141;
  letter-spacing: -0.145em;
}
.footer-mail {
  font-size: 16px;
  color: #475467;
}
.subscribe-btn {
  margin-left: 16px;
}
.widget {
  max-width: 379px;
  margin-left: auto;
}
.widget-text {
  font-size: 14px;
  color: #101828;
}
.footer-line {
  border-bottom: 1px solid #474646;
}
.footer-bottom {
  margin: 32px 0px 48px;
}
.footer-bottom p {
  color: #667085;
}
.widget-link li {
  display: inline-block;
  list-style: none;
}
.widget-link li a {
  color: #667085;
  font-size: 16px;
}

.footer-navigation-link{
  padding:10px;
  color:#475467;
  font-weight: 700;
  font-size:16px;
}

.footer-navigation-link:hover{
  cursor:pointer;
  opacity: 0.7;
  transition: .5;
}

/* ----------------------*
    LOGIN FORM CSS
*------------------------*/

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-heading-text {
  font-size: 30px;
  line-height: 38px;
  color: #101828;
  margin-bottom: 20px;
}
.form-heading-text img {
  max-height: 38px;
}
.form-label {
  font-size: 14px;
  color: #344054;
  margin-bottom: 6px;
  line-height: 20px;
}
.form-control::-webkit-input-placeholder,
.form-control:-ms-input-placeholder,
.form-control::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.remember-forgot {
  margin: 24px 0px;
}
.remember-forgot .form-check-input {
  border: 1px solid #d0d5dd;
}
.remember-forgot .form-check-label {
  font-size: 14px;
  color: #344054;
  cursor: pointer;
}
.remember-forgot a {
  font-size: 14px;
  color: rgba(18, 18, 18, 0.5);
}
.common-anchor {
  padding: 10px;
  font-size: 16px;
  color: #000;
  background: #87add9;
  border: 1px solid rgba(135, 173, 217, 0.75);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.common-anchor:hover {
  color: #000;
  background-color: #87add9;
  border-color: rgba(135, 173, 217, 0.75);
}
.gl-button {
  font-size: 16px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin: 16px 0px 20px;
}
.gl-text-center {
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}
.gl-text-center span {
  color: rgba(18, 18, 18, 0.5);
}

/* -----------------------------*
     REGISTER FORM CSS
*-------------------------------*/

.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-60 {
  margin-bottom: 60px;
}
.lead-text {
  font-size: 16px;
  color: #475467;
}
.select-btn img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

/* -----------------------------*
     COOKIE CSS STYLE
*-------------------------------*/

.cookie-banner {
  max-width: 768px;
  margin: auto;
}
.py-96 {
  padding: 96px 0px;
}
.cookie-banner span {
  font-size: 16px;
  margin-bottom: 12px;
  color: rgba(135, 173, 217, 0.75);
}
.cookie-banner h2 {
  font-size: 42px;
  color: #fff;
  line-height: 60px;
  letter-spacing: -0.02em;
}
.cookie-banner h5 {
  line-height: 30px;
  margin: 24px 0px 40px;
  color: rgba(135, 173, 217, 0.75);
}
.cookie-banner .nav {
  border-radius: 8px;
  padding: 6px;
  max-width: 452px;
  margin: auto;
  border: 1px solid rgba(235, 255, 89, 0.5);
}
.cookie-banner .nav-link {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 14px;
}
.cookie-banner .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgba(18, 18, 18, 0.5);
  background-color: #fff;
}
.container-md {
  max-width: 750px;
  margin: auto;
  padding: 0px 15px;
}
.mb-40 {
  margin-bottom: 40px;
}
.cookie-text .fs-30 {
  font-size: 30px;
  line-height: 38px;
  color: #101828;
  margin-bottom: 20px;
}
.cookie-text h3 {
  font-size: 24px;
  color: #101828;
  margin-bottom: 16px;
  line-height: 32px;
}
.cookie-text p,
.cookie-text ol li {
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}
.cookie-text ol li {
  list-style: inside numbers;
}
.border-top {
  border-top: 1px solid #eaecf0;
}

.pad-left {
  margin-left: .75in;
  text-indent: -.25in;
  font-size: 18px;
}

.pad-left-50 {
  margin-left: .100in;
  text-indent: .50in;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}



/* -----------------------------*
     404 Page style
*-------------------------------*/
.fof-search-button{
  background-color:#87ADD9;
  color:black;
  border-radius: 5px 5px !important;
}
.fof-link{
  color:#12121280;
  font-size:16px !important;
}
.fof-link:hover{
  cursor:pointer;
}
.fof-link-description{
  color:#475467;
  line-height: 24px;
  font-weight: 400 !important;
}

/* ----------------------*
    BLOG CSS
*------------------------*/

.blog-post-author-date{
  color:#12121280;
  font-weight:700;
  font-size:14px;
  line-height: 24px;
}



/* ----------------------*
    Pagination style
*------------------------*/

.blog-pagination-btn{
  color:#475467;
  font-size:16px;
  font-weight:700;
}
.blog-pagination-btn:hover{
  opacity:.6;
}


.pagination a {
  color: black;
  float: left;
  padding: 5px 12px;
  text-decoration: none;
}
.active{
  background-color: #F9FAFB;
  border-radius: 5px;
}

.pagination a:hover {
  cursor: pointer;
  background-color: #F9FAFB;
}

.blog-post-social-icon{
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  padding:5px 10px;
}



/* ----------------------*
    CAREERS CSS
*------------------------*/

.careers-social-icons{
  color:#98A2B3;
}

.careers-position-container{
  border:0.5px solid #EAECF0;
  border-radius: 10px;
  padding:25px;
}


.img-max{
  max-width: 400px;
  width:100%;
}
