<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
        <p class="fw-700 lh-24 color-primary-yellow">Pricing</p>
        <h1 class="fs-36 fw-700">We’d love to hear from you</h1>
        <p class="fs-20 color-gray-600">Simple, transparent pricing that grows with you. Try any plan free for 30 days.</p>
        <div class="btn-group btn-toggle p-3">
            <input type="checkbox"
                   checked
                   data-toggle="toggle"
                   data-on="Monthly"
                   data-off="Annual">
        </div>
    </div>
</div>
