<div class="col-lg-4">
    <div class="card mb-5 mb-lg-0">
        <div class="pricing-card-header">
            <div class="d-flex flex-row border-bottom mt-3">
                <h5 class="fw-700 text-center border-botto ">Enterprise</h5>
            </div>
            <h1 class="card-price fw-700 my-3">
                $40<span class="fs-16 fw-400 color-gray-600">per month</span>
            </h1>
            <p class="color-gray-600 w-50">Personalised service and enterprise security for large teams.</p>
            <a href="{% url "users:access_request" %}"
               class="px-5 py-3 br-10 background-color-primary-blue fw-700 fs-16 color-black mb-3">Get started</a>
            <a href="#"
               class="px-5 py-3 br-10 bg-white border fw-700 fs-16 color-black">Chat to sales</a>
        </div>
        <!-- CARD BODY -->
        <div class="d-flex flex-column px-5">
            <p class="fs-14 fw-700 mt-3">Overview</p>
            <table class="table table-striped mt-3">
                <tbody>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Basic features:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="px-3">
                            <p class="fw-400 color-gray-900 fs-14">Users:</p>
                        </th>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <th class="px-3">
                            <p class="fw-400 color-gray-900 fs-14">Individual data:</p>
                        </th>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Support:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Automated workflows:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">200+ integrations:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="fs-14 fw-700 mt-3">Reporting and analytics</p>
            <table class="table table-striped mt-3">
                <tbody>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Analytics:</p>
                        </th>
                        <td>Advanced</td>
                    </tr>
                    <tr>
                        <th class="px-3">
                            <p class="fw-400 color-gray-900 fs-14">Export reports:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="px-3">
                            <p class="fw-400 color-gray-900 fs-14">Scheduled reports:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">API accesss:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Advanced reports:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Saved reports:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Customer properties:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Custom fields:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="fs-14 fw-700 mt-3">User accesss</p>
            <table class="table table-striped mt-3">
                <tbody>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">SSO/SAML authentication:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Advanced permissions:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Audit log:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-3">
                            <p class="fw-400 color-gray-900 fs-14">Data history:</p>
                        </th>
                        <td>
                            <i class="fas fa-check-circle" style="color: #039855;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
