{% load static %}
<div class="container">
    <div style="margin-top:10vh"
         class="d-flex flex-column justify-content-between flex-wrap">
        <p class="color-primary-black fw-bold">Our team</p>
        <h2 class="color-gray-900 fw-700">
            Some of the people you`ll be
            <br>
            working with
        </h2>
        <p class="color-gray-600 fs-20">We’re a 100% remote team spread all across the world. Join us!</p>
        <div class="row my-3">
            <div class="col-xs-6 col-md-6 col-lg-3">
                <div class="flex flex-column flex-wrap">
                    <img width="30%" class="rounded-circle my-3" src="{% static "assets/image/careers/careers_avatar_1.png" %}">
                    <h1 class="color-gray-900 fw-bold" style="font-size:18px;">Olivia Rhye</h1>
                    <h6 class="color-primary-black fw-bold">Founder & CEO</h6>
                    <p class="color-gray-600">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</p>
                    <!-- socials-->
                    <div class="d-flex flex-row">
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-twitter"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-linkedin"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-globe2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-3">
                <div class="flex flex-column flex-wrap">
                    <img width="30%" class="rounded-circle my-3" src="{% static "assets/image/careers/careers_avatar_2.png" %}">
                    <h1 class="color-gray-900 fw-bold" style="font-size:18px;">Phoenix Baker</h1>
                    <h6 class="fw-bold color-primary-black">Engineering Manager</h6>
                    <p class="color-gray-600 lh-24">Lead engineering teams at Figma, Pitch, and Protocol Labs.</p>
                    <!-- socials-->
                    <div class="d-flex flex-row">
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-twitter"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-linkedin"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-globe2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-3">
                <div class="flex flex-column flex-wrap">
                    <img width="30%" class="rounded-circle my-3" src="{% static "assets/image/careers/careers_avatar_3.png" %}">
                    <h1 class="color-gray-900 fw-bold" style="font-size:18px;">Lana Steiner</h1>
                    <h6 class="color-primary-black fw-bold">Product Manager</h6>
                    <p class="color-gray-600 lh-24">Former PM for Linear, Lambda School, and On Deck.</p>
                    <!-- socials-->
                    <div class="d-flex flex-row">
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-twitter"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-linkedin"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-globe2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-3">
                <div class="flex flex-column flex-wrap">
                    <img width="30%" class="rounded-circle my-3" src="{% static "assets/image/careers/careers_avatar_4.png" %}">
                    <h1 class="color-gray-900 fw-bold" style="font-size:18px;">Demi Wilkinson</h1>
                    <h6 class="color-primary-black fw-bold">Frontend Developer</h6>
                    <p class="color-gray-600 lh-24">Former frontend dev for Linear, Coinbase, and Postscript.</p>
                    <!-- socials-->
                    <div class="d-flex flex-row">
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-twitter"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-linkedin"></i></a>
                        <a style="color:#98A2B3;" href="" class="mx-1"><i class="bi bi-globe2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
