{% load static %}
<div class="d-flex justify-content-center align-items-center mt-5 text-center">
    <div class="d-flex justify-content-center align-items-center  flex-column w-100">
        <div style="background-color:#F9FAFB;" class="py-5 px-5 my-5">
            <p style="font-size:14px;color:#12121280;font-weight:700;">From our team</p>
            <h2>
                Untitled truly values work-life balance. We work hard and deliver, but at the end of the day you can switch off.
            </h2>
            <div class="my-3">
                <img src="{% static "assets/image/careers/careers_review_avatar.png" %}">
                <p style="color:#101828;" class="fw-bold mt-3">Mollie Hall</p>
                <p style="color:#475467;font-size:14px;">Web Developer, Untitled</p>
            </div>
        </div>
    </div>
