{% load static %}
<div class="container">
    <div class="d-flex flex-column justify-content-center flex-wrap mb-5">
        <hr>
        <div class="d-flex flex-wrap flex-column w-100 px-3">
            {% for profession in professions %}
                <div class="d-flex flex-row mt-md-3">
                    <!-- Title of position-->
                    <div class="d-flex flex-column align-items-start mx-5 w-25">
                        <h6>{{ profession.title }}</h6>
                        <p style="color:#667085">Open positions in our {{ profession.title|lower }} team</p>
                    </div>
                    <div class="d-flex flex-column align-items-start flex-wrap w-75">
                        <!-- Positions-->
                        {% if vacancies %}
                            {% for vacancy in vacancies %}
                                {% if vacancy.profession.title == profession.title %}
                                    <div class="d-flex flex-column flex-wrap justify-content-center careers-position-container w-100 mb-3">
                                        <div class="d-flex flex-row flex-wrap">
                                            <p>{{ vacancy.title }}</p>
                                            <h6>
                                                <span style="color:#175CD3;
                                                             background-color:#EFF8FF"
                                                      class="badge mx-3 px-3">&#8226; {{ vacancy.profession.title }}</span>
                                            </h6>
                                            <h6>
                                                <span style="color:#344054;
                                                             background-color:#F2F4F7"
                                                      class="badge mx-3 px-3">{{ vacancy.city }},{{ vacancy.country }}
                                                    <img src="{{ vacancy.country.flag }}">
                                                </span>
                                            </h6>
                                        </div>
                                        <p>{{ vacancy.description }}</p>
                                        <div class="d-flex flex-row justify-content-start flex-wrap">
                                            <div>
                                                <i class="bi bi-alarm"></i> {{ vacancy.shift }}
                                            </div>
                                            &nbsp;
                                            <div>
                                                <i class="bi bi-currency-dollar"></i>{{ vacancy.min_salary }}k - {{ vacancy.max_salary }}k
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <!-- image -->
        <img alt="office" class="w-100 mt-5" src="{% static "assets/image/careers/careers_picture.png" %}">
    </div>
</div>
