{% load static %}
<div class="container">
    <div class="d-flex flex-row justify-content-between flex-wrap mb-5">
        <!--left side-->
        <div class="d-flex flex-column align-items-start">
            <p style="color:#87ADD9;">Want to shape the future of technology?</p>
            <h2 class="fw-bold" style="color:#101828;font-size:48px;">
                Come bend the
                <br>
                universe with us .
            </h2>
        </div>
        <!--right side-->
        <div class="d-flex justify-content-center align-items-center w-50">
            <p style="color:#475467;font-size:20px;">
                We’re early. Come invent and
                <br>
                shape what Tarx will become.
            </p>
        </div>
    </div>
    <div class="row mx-3 my-3">
        <div class="col-xs-6 col-md-6 col-lg-3">
            <div class="flex flex-column flex-wrap">
                <h1 class="fw-bold" style="font-size:60px;color:#FEB805;">2020</h1>
                <h6 class="fw-bold">Founded</h6>
                <p style="color:#475467;line-height:24px;">Created out of a deep desire to make work better for humans.</p>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-3">
            <div class="flex flex-column flex-wrap">
                <h1 class="fw-bold" style="font-size:60px;color:#FEB805;">100+</h1>
                <h6 class="fw-bold">Production Models</h6>
                <p style="color:#475467;line-height:24px;">Leveraging proprietary data to fine-tune pre-trained models at scale.</p>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-3">
            <div class="flex flex-column flex-wrap">
                <h1 class="fw-bold" style="font-size:60px;color:#FEB805;">GPT-J</h1>
                <h6 class="fw-bold">Open source and proud</h6>
                <p style="color:#475467;line-height:24px;">We ethically contribute to open source LLMs, datasets, and models.</p>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-3">
            <div class="flex flex-column flex-wrap">
                <h1 class="fw-bold" style="font-size:60px;color:#FEB805;">8</h1>
                <h6 class="fw-bold">Countries</h6>
                <p style="color:#475467;line-height:24px;">We're a diverse global team spanning 8 countries.</p>
            </div>
        </div>
    </div>
</div>
