{% load static %}
<div class="container my-5">
    <div class="d-flex flex-wrap">
        <div class="d-flex flex-column col-sm-4">
            <div class="w-75">
                <p class="fw-700" style="color:#87ADD9;font-size:16px;">Contributor</p>
                <div class="list-group my-3">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <img class="rounded mx-3" src="{{ post.author.avatar }}">
                        <div class="d-flex flex-column align-items-center">
                            <h5 class="fw-bold">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                            <p class="color-gray-600">{{ post.author.profession }}</p>
                        </div>
                    </div>
                </div>
                <div class="list-group my-3">
                    <hr>
                    <!-- Subscribe to newsletter-->
                    <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                        <p class="fw-700" style="color:#87ADD9;">Subscribe to our newsletter</p>
                        <form class="row text-center">
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Enter your email">
                            </div>
                            <button class="btn fof-search-button">Subscribe</button>
                        </form>
                    </div>
                    <hr>
                    <!-- social icons -->
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <div class="blog-post-social-icon mx-1">
                            <a href="">
                                <i style="color:#98A2B3;" class="bi bi-twitter"></i>
                            </a>
                        </div>
                        <div class="blog-post-social-icon mx-1">
                            <a href="">
                                <i style="color:#98A2B3;" class="bi bi-facebook"></i>
                            </a>
                        </div>
                        <div class="blog-post-social-icon mx-1">
                            <a href="">
                                <i style="color:#98A2B3;" class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">{{ post.content|safe }}</div>
    </div>
    <hr>
    {% include "blog/latest_posts.html" %}
</div>
