{% load static %}
<div class="container my-3">
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        <!-- left part -->
        <div class="w-50 px-3">
            <h6>
                <span style="color:#12121280;border:1px solid #87ADD9BF;border-radius:10px;" class="badge badge-primary px-3 py-1">Product: 8 min read</span>
            </h6>
            <h1 style="font-weight:bold">Migrating to Linear 101</h1>
            <p class="my-3">Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.</p>
        </div>
        <!-- right part-->
        <div class="w-50">
            <img class="fof-image" src="{% static "assets/image/blog/post_img_1.png" %}">
        </div>
    </div>
</div>