{% load static %}
<div class="container my-5">

    <div class="d-flex flex-wrap">
        <div class="d-flex flex-column col-sm-4">
            <div class="w-75">
                <p style="color:#87ADD9;font-size:16px;font-weight:700;">Contributors</p>
                <div class="list-group my-1">
                        <div class="d-flex flex-row justify-content-start align-items-center">
                            <img class="rounded mx-3" src="{% static "assets/image/blog/blog_post_avatar_1.png" %}">
                            <div class="d-flex flex-column align-items-center">
                                <h5 style="font-weight:bold;">Phoenix Baker</h5>
                                <p style="color:#475467;">Product Manager</p>
                            </div>
                        </div>
                </div>
                <div class="list-group my-3">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <img class="rounded mx-3" src="{% static "assets/image/blog/blog_post_avatar_2.png" %}">
                        <div class="d-flex flex-column align-items-center">
                            <h5 style="font-weight:bold;">Lory Bryson</h5>
                            <p style="color:#475467;">Product Manager</p>
                        </div>
                </div>
                <hr>

                <!-- Subscribe to newsletter-->
                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                    <p style="color:#87ADD9;font-weight:700;">Subscribe to our newsletter</p>
                        <form class="row text-center">
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Enter your email">
                            </div>
                                <button class="btn fof-search-button">Subscribe</button>
                        </form>
                </div>
                <hr>

                <!-- social icons -->
                <div class="d-flex flex-row justify-content-start align-items-center">

                    <div class="blog-post-social-icon mx-1">
                        <a href="">
                            <i style="color:#98A2B3;" class="bi bi-twitter"></i>
                        </a>
                    </div>

                    <div class="blog-post-social-icon mx-1">
                        <a href="">
                            <i style="color:#98A2B3;" class="bi bi-facebook"></i>
                        </a>
                    </div>


                    <div class="blog-post-social-icon mx-1">
                        <a href="">
                            <i style="color:#98A2B3;" class="bi bi-linkedin"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-8">
        Lorem ipsum dolor sit amet, augue error mnesarchum no pri, nibh graeci mediocritatem mea an? No mel omittam deserunt consetetur, movet iudicabit his ad. Ne graeci dolorum perpetua vel, qui eu unum nibh referrentur, at modo vocibus partiendo vel? Est at ancillae volutpat, nobis nostro posidonium sit ut. In cum labores invenire electram. Ut duo ridens eligendi reprimique.

        Te est graeco integre deseruisse, has id movet integre scribentur. Ne vis platonem explicari constituto? Sed eu facer eirmod molestiae, duo sumo stet eu. Ut vel nusquam suscipit, minimum facilisis gloriatur vim ne. Autem honestatis ex eam! Est id sapientem aliquando, eum veritus facilis ex, eos in simul corrumpit.

        In posse dolores per. Sed explicari abhorreant scripserit ex, utinam primis tacimates mel ex, saepe facilisis nam ne. Te magna putent semper vim, duo ad placerat sadipscing neglegentur, ut zril impetus delenit pro? Per meis instructior et, id salutandi temporibus nam, te debitis oporteat mei.

        Facilisis abhorreant in vim. In mea malorum facilisis, et his feugait ancillae definiebas, rebum sadipscing no sed? Nibh indoctum quo ei, ius consul lobortis convenire ei. Assum epicurei reformidans an ius, admodum scribentur in pri. In duo sanctus conceptam necessitatibus!

        Cum vide etiam intellegat eu, at scaevola similique vel. At duo dicant laoreet sententiae. Alia adolescens elaboraret est ex, libris malorum interesset usu et, meis aliquip no pro. Vim diam mutat ne! Quot meliore epicurei cu pri.

        Vix at velit utroque scripserit. Mel te quot maiorum, vim ubique dissentiet ne. Porro menandri petentium at est, perpetua suscipiantur ex pro, sed ex quem adolescens philosophia! Tale noluisse lucilius qui ei. Brute soleat hendrerit ne qui, tollit quaerendum temporibus cu vis.

        Aliquip neglegentur sit eu, cum causae alienum ad! Vim ne reque molestiae, quas zril epicurei duo ne? Mea corrumpit splendide no. Oportere expetenda disputando per te, amet ponderum appellantur ex his. Nam lucilius menandri ut, ea efficiendi suscipiantur ius, euismod delenit alienum in his! Cu eum vidit salutandi, pro cu aperiam liberavisse!

        Ne quem viderer probatus usu, ei eos laudem commodo. Ut meis tempor impetus per, eos nostro everti id, his persius impedit recteque at. Nam at possit accusata pertinax, sit ullum putent appareat ad, enim vidisse assueverit est eu! At per hendrerit expetendis inciderint, omnis molestiae scriptorem per et! Apeirian tractatos ius id, vim iusto dicant perpetua at!

        Ludus reprehendunt nam eu, augue ullamcorper ex pri, id vero utamur conceptam per. Eos ipsum epicuri moderatius et, et sensibus neglegentur ius. Graeci constituam eu mel, tibique cotidieque cu sit. Ut dico debitis vis, malis commune eum te. Usu ne adolescens constituam, duo ex volutpat expetenda necessitatibus, no mel ancillae voluptaria necessitatibus. Vocibus phaedrum per ne, per nominavi deleniti at.

        Movet nominati ne pro. Partem alterum perpetua duo no? At omnes soleat civibus est? Soluta legendos quaestio cu pro, facete ancillae phaedrum mea an. Cibo velit contentiones in eos! Veri tibique cotidieque eum ex?
        </div>
    </div>
<hr>
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">

        <div class="text-center">
            <p style="color:#12121280;font-weight:700;">Latest posts</p>
            <h1 style="font-size:36px;font-weight:bold">Untitled blog</h1>
            <p style="color:#475467;font-size:20px;">Interviews, tips, guides, industry best practices, and news.</p>
        </div>

    <div class="row mt-3">
        <!-- item 1 -->
        <div class="col-xs-6 col-md-4 my-3">

            <div class="flex flex-column">

                <img class="w-100" src="{% static "assets/image/blog/post_img_1.png" %}">
                <p class="blog-post-author-date my-3">Phoenix Baker &#183; 19 Jan 2022 </p>
                <h3 style="color:#101828;font-weight:700"> Migrating to Linear 101</h3>
                <div>
                    <p style="color:#475467;">Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.</p>
                </div>
                    <!-- list of tags -->
                <div class="d-flex flex-row flex-wrap mt-3">
                    <h6>
                        <span style="background-color:#87ADD940;color:#717BBC;" class="badge badge-primary">Design</span>
                        <span style="background-color:#FEB80540;color:#FEB805;" class="badge badge-primary">Research</span>
                        <span style="background-color:#A8DCA540;color:#15B79E;" class="badge badge-primary">Presentation</span>
                    </h6>
                </div>

            </div>

        </div>

        <!-- item 2 -->
        <div class="col-xs-6 col-md-4 my-3">

            <div class="flex flex-column">

                <img class="w-100" src="{% static "assets/image/blog/post_img_2.png" %}">
                <p class="blog-post-author-date my-3">Lana Steiner &#183; 18 Jan 2022 </p>
                <h3 style="color:#101828;font-weight:700">Building your API Stack</h3>
                <div>
                    <p style="color:#475467;">Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.</p>
                </div>
                    <!-- list of tags -->
                <div class="d-flex flex-row flex-wrap mt-3">
                    <h6>
                        <span style="background-color:#A8DCA540;color:#15B79E;" class="badge badge-primary">Software Development</span>
                        <span style="background-color:#FEB80540;color:#FEB805;" class="badge badge-primary">Research</span>
                    </h6>
                </div>

            </div>

        </div>

        <!-- item 3 -->
        <div class="col-xs-6 col-md-4 my-3">
            <div class="flex flex-column">
                <img class="w-100" src="{% static "assets/image/blog/post_img_3.png" %}">
                <p class="blog-post-author-date my-3">Alec Whitten &#183; 17 Jan 2022 </p>
                <h3 style="color:#101828;font-weight:700">Bill Walsh leadership lessons</h3>
                <div>
                    <p style="color:#475467;">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning dynasty</p>
                </div>
                    <!-- list of tags -->
                <div class="d-flex flex-row flex-wrap mt-3">
                    <h6>
                        <span style="background-color:#FEB80540;color:#FEB805;" class="badge badge-primary">Leadership</span>
                        <span style="background-color:#87ADD940;color:#717BBC;" class="badge badge-primary">Management</span>
                    </h6>
                </div>

            </div>
        </div>
    </div>

    <div style="background-color:#87ADD9BF;" class="rounded my-3 text-decoration-none py-3">
        <a href="{% url 'blog' %}" style="color:black;font-weight:bold;font-size:16px;" class="px-3">View all posts</a>
    </div>

    </div>


</div>