{% load static %}
<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center my-5 text-centers">
        <p style="color:#87ADD9;font-weight: 700;" class="">Enterprise AI - Thought Leadership</p>
        <h1 class="color-gray-900 fw-bold">Tarx Resources</h1>
        <p class="my-3">
            Access the latest AI industry news, interviews, customer
            <br>
            stories, product updates, use cases and more.
        </p>
        <div class="d-flex flex-row flex-wrap mt-3">
            <h6>
                <span style="background-color:#87ADD940;
                             color:#717BBC"
                      class="badge badge-primary">Case studies</span>
                <span style="background-color:#FEB80540;
                             color:#FEB805"
                      class="badge badge-primary">Ethics</span>
                <span style="background-color:#A8DCA540;
                             color:#15B79E"
                      class="badge badge-primary">Research</span>
                <span style="background-color:#FDF2FA;
                             color:#C11574"
                      class="badge badge-primary">Use cases</span>
                <span style="background-color:#9972EA40;
                             color:#6938EF"
                      class="badge badge-primary">Updates</span>
            </h6>
        </div>
    </div>
</div>
