{% load static %}
<div class="container my-3">
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        <!-- left part -->
        <div class="w-50 px-3">
            <h6>
                <span style="border:1px solid #87ADD9BF;
                             border-radius:10px"
                      class="color-primary-black badge badge-primary px-3 py-1">Product: {{ post.mins_read }} min read</span>
            </h6>
            <h1 class="fw-bold">{{ post.title }}</h1>
            <p class="my-3">{{ post.introduction }}</p>
        </div>
        <!-- right part-->
        <div class="w-50">
            {% if post.thumbnail %}<img class="img-max" src="{{ post.thumbnail.url }}">{% endif %}
        </div>
    </div>
</div>
