{% load static %}
<div class="container margin-top-10 margin-bottom-10">
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
        <div class="text-center">
            <p class="color-primary-black fw-bold">Latest posts</p>
            <h1 class="fw-bold fs-36">Latest Writings</h1>
            <p class="color-gray-600 fs-20">Interviews, tips, guides, industry best practices, and news.</p>
        </div>
        <div class="row mt-3">
            <!-- item 1 -->
            {% for lp in latest_posts %}
                <div class="col-xs-6 col-md-4 my-3">
                    <a href="{% url "blog:post_details" post_uuid=lp.uuid %}">
                        <div class="flex flex-column">
                            {% if lp.thumbnail %}<img class="w-100" src="{{ lp.thumbnail.url }}">{% endif %}
                            <p class="blog-post-author-date my-3">
                                {{ lp.author.first_name }} {{ lp.author.last_name }}  &#183; {{ lp.created_at|date:"d M Y"  }}
                            </p>
                            <h3 class="color-gray-900 fw-bold">{{ lp.title }}</h3>
                            <div>
                                <p class="color-gray-600">{{ lp.introduction }}</p>
                            </div>
                            <!-- list of tags -->
                            <div class="d-flex flex-row flex-wrap mt-3">
                                <h6>
                                    <span style="background-color:#87ADD940;
                                                 color:#717BBC"
                                          class="badge badge-primary">Design</span>
                                    <span style="background-color:#FEB80540;
                                                 color:#FEB805"
                                          class="badge badge-primary">Research</span>
                                    <span style="background-color:#A8DCA540;
                                                 color:#15B79E"
                                          class="badge badge-primary">Presentation</span>
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div style="background-color:#87ADD9BF"
             class="rounded my-3 text-decoration-none py-3">
            <a href="{% url 'blog:index' %}"
               style="color:black;
                      font-size:16px"
               class="px-3 fw-bold">View all posts</a>
        </div>
    </div>
</div>
