{% load static %}
<div class="d-flex flex-column">
    <img src="{% static "assets/image/blog/latest_post.png" %}">
    <p class="my-3 blog-post-author-date">Olivia Rhye &#183;20 Jan 2022 </p>
    <h2 style="color:#101828;font-weight:700">UX review presentations</h2>
        <div>
            How do you create compelling presentations that wow your colleagues and impress your managers?
        </div>

    <!-- list of tags -->
    <div class="d-flex flex-row flex-wrap mt-3">
        <h6>
            <span style="background-color:#87ADD940;color:#717BBC;" class="badge badge-primary">Design</span>
            <span style="background-color:#FEB80540;color:#FEB805;" class="badge badge-primary">Research</span>
            <span style="background-color:#A8DCA540;color:#15B79E;" class="badge badge-primary">Presentation</span>
        </h6>
    </div>
</div>