{% load static %}
<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
        <div class="text-center">
            <p class="color-primary-black fw-bold">Latest posts</p>
            <h1 class="fw-bold fs-36">Latest Writings</h1>
            <p class="color-gray-600 fs-20">Interviews, tips, guides, industry best practices, and news.</p>
        </div>
        <div class="row mt-3">
            <!-- item 1 -->
            <div class="col-xs-6 col-md-4 my-3">
                <div class="flex flex-column">
                    <img class="w-100" src="{% static "assets/image/blog/post_img_1.png" %}">
                    <p class="blog-post-author-date my-3">Phoenix Baker &#183; 19 Jan 2022</p>
                    <h3 class="color-gray-900 fw-bold">Migrating to Linear 101</h3>
                    <div>
                        <p class="color-gray-600">
                            Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
                        </p>
                    </div>
                    <!-- list of tags -->
                    <div class="d-flex flex-row flex-wrap mt-3">
                        <h6>
                            <span style="background-color:#87ADD940;
                                         color:#717BBC"
                                  class="badge badge-primary">Design</span>
                            <span style="background-color:#FEB80540;
                                         color:#FEB805"
                                  class="badge badge-primary">Research</span>
                            <span style="background-color:#A8DCA540;
                                         color:#15B79E"
                                  class="badge badge-primary">Presentation</span>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- item 2 -->
            <div class="col-xs-6 col-md-4 my-3">
                <div class="flex flex-column">
                    <img class="w-100" src="{% static "assets/image/blog/post_img_2.png" %}">
                    <p class="blog-post-author-date my-3">Lana Steiner &#183; 18 Jan 2022</p>
                    <h3 class="color-gray-900 fw-700">Building your API Stack</h3>
                    <div>
                        <p class="color-gray-600">
                            Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
                        </p>
                    </div>
                    <!-- list of tags -->
                    <div class="d-flex flex-row flex-wrap mt-3">
                        <h6>
                            <span style="background-color:#A8DCA540;
                                         color:#15B79E"
                                  class="badge badge-primary">Software Development</span>
                            <span style="background-color:#FEB80540;
                                         color:#FEB805"
                                  class="badge badge-primary">Research</span>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- item 3 -->
            <div class="col-xs-6 col-md-4 my-3">
                <div class="flex flex-column">
                    <img class="w-100" src="{% static "assets/image/blog/post_img_3.png" %}">
                    <p class="blog-post-author-date my-3">Alec Whitten &#183; 17 Jan 2022</p>
                    <h3 class="color-gray-900 fw-700">Bill Walsh leadership lessons</h3>
                    <div>
                        <p class="color-gray-600">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning dynasty</p>
                    </div>
                    <!-- list of tags -->
                    <div class="d-flex flex-row flex-wrap mt-3">
                        <h6>
                            <span style="background-color:#FEB80540;
                                         color:#FEB805"
                                  class="badge badge-primary">Leadership</span>
                            <span style="background-color:#87ADD940;
                                         color:#717BBC"
                                  class="badge badge-primary">Management</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:#87ADD9BF"
             class="rounded my-3 text-decoration-none py-3">
            <a href="{% url 'blog' %}"
               style="color:black;
                      font-size:16px"
               class="px-3 fw-bold">View all posts</a>
        </div>
    </div>
</div>
