{% load static %}
<div class="d-flex flex-column">
    <img src="{% static "assets/image/blog/latest_post.png" %}">
    <a href="{% url "blog:post_details" post_uuid=post.uuid %}">
        <p class="my-3 blog-post-author-date">
            {{ post.author.first_name }} {{ post.author.last_name }} &#183;{{ post.created_at }}
        </p>
        <h2 class="color-gray-900 fw-700">{{ post.introduction }}</h2>
    </a>
    <!-- list of tags -->
    <div class="d-flex flex-row flex-wrap flex-wrap mt-3">
        <h6>
            {% for tag in post.tags.all %}
                <span style="background-color:{{ tag.background_color }};
                             color:{{ tag.text_color }}"
                      class="badge badge-primary">{{ tag }}</span>
            {% endfor %}
        </h6>
    </div>
</div>
