<div class="d-flex flex-row justify-content-between my-3">
  <a href="#" class="blog-pagination-btn"><i class="bi bi-arrow-left"></i> Previous</a>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="active" aria-current="page">
        <a href="#" class="">1</a>
      </li>
      <li class="" aria-current="page">
        <a href="#" class="">2</a>
      </li>
      <li class="" aria-current="page">
        <a href="#" class="">3</a>
      </li>
    </ul>
  </nav>
  <a href="#"  class="blog-pagination-btn">Next <i class="bi bi-arrow-right"></i></a>
</div>
