{% load static %}
<!-- need extra div-->
<div class="row mt-3">
    {% if posts %}
        {% for post in posts %}
            <div class="col-xs-6 col-md-4 my-3">
                <div class="flex flex-column">
                    {% if post.thumbnail %}<img class="w-100" src="{{ post.thumbnail.url }}">{% endif %}
                    <a href="{% url "blog:post_details" post_uuid=post.uuid %}">
                        <p class="blog-post-author-date my-3">
                            {% if post.author %}
                                {{ post.author.first_name }} {{ post.author.last_name }}
                            {% else %}
                                &#183;
                            {% endif %}
                            {{ post.created_at|date:"d M Y" }}
                        </p>
                        <h3 class="color-gray-900 fw-700">{{ post.introduction }}</h3>
                    </a>
                    <div>{{ post.content|safe|truncatewords_html:50 }}</div>
                    <!-- list of tags -->
                    <div class="d-flex flex-row flex-wrap mt-3">
                        <h6>
                            {% for tag in post.tags.all %}
                                <span style="background-color:{{ tag.background_color }};
                                             color:{{ tag.text_color }}"
                                      class="badge badge-primary">{{ tag }}</span>
                            {% endfor %}
                        </h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>There are currently no posts</h1>
    {% endif %}
</div>
<!-- line separator-->
<div style="border-top:1px solid #EAECF0;"></div>
