{% load static %}
<footer>
    <div class="footer">
        <div class="row align-items-center">
            <div class="col-md-5">
                <a href="www.tarx.com" class="footer-logo">
                    <img src="{% static 'assets/image/black-logo.svg' %}" alt="black-logo" />
                    <span class="fw-700">Tarx.com</span>
                </a>
                {% comment %} <a href="mailto:howdy@tarx.com" class="footer-mail d-block lh-24">mailto:howdy@tarx.com</a> {% endcomment %}
                <div class="d-flex flex-row justify-content-between align-items-center flex-wrap w-75">
                    <a href="{% url 'users:contact' %}" class="footer-navigation-link">Contact</a>
                    <a href="#" class="footer-navigation-link ">Legal</a>
                    <a href="{% url 'careers:index' %}" class="footer-navigation-link">Careers</a>
                    <a href="#" class="footer-navigation-link">Help</a>
                    <a href="#" class="footer-navigation-link">AI Governance</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="widget">
                    <p class="widget-text fw-700 lh-24">
                        AI, huh? Join 2,300+ subscribers who want to learn what we’re
                        learning while we learn it.
                    </p>
                    <div class="d-flex email-box">
                        <input type="email"
                               class="form-control"
                               id=""
                               placeholder="Enter your email" />
                        <button class="btn request-btn fw-700 lh-24 subscribe-btn" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer-line" />
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-6 order-1 order-md-0">
                <p class="mb-0 lh-24 px-md-3">© 2022-2023 TARX INC. All rights reserved.</p>
            </div>
            <div class="col-md-6 order-0 order-md-1">
                <ul class="widget-link text-md-end">
                    <li>
                        <a href="{% url 'terms' %}" class="lh-24">Terms of Use</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy_policy' %}" class="lh-24 mx-3">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
