{% load static %}
<header class="header-wrap">
    <div class="row align-items-center">
        <div class="col-md-6 col-3">
            <a class="navbar-logo d-flex align-items-center"
               href="{% url 'index' %}">
                <img src={% static "assets/image/white-logo.svg" %} alt="white-logo" />
                <span class="fw-700">Tarx</span></a>
        </div>
        <div class="col-md-6 col-9">
            <div class="d-flex justify-content-end">
                {% if not user.is_authenticated %}
                    <a class="btn login-btn-white fw-700 lh-24"
                       href="{% url 'users:login' %}">Log in</a>
                    <a class="btn request-btn fw-700 lh-24"
                       href="{% url 'users:register' %}">Request Access</a>
                {% else %}
                    <a class="btn login-btn-white fw-700 lh-24" href="{% url 'pricing' %}">Pricing</a>
                    <a class="btn request-btn fw-700 lh-24" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
