<div style="background-color:#F9FAFB"
     class="d-flex justify-content-center align-items-center text-center">
    <div class="py-5 w-75">
        <h2 class="fw-bold">Still thinking about it ?</h2>
        <p class="color-gray-600">Sign up for our newsletter and get 10% off your next purchase</p>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <form class="row my-3 px-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your email">
                    <button class ="mx-3 btn fof-search-button" disabled>Subscribe</button>
                </div>
            </form>
        </div>
        <p class="text-left">
            We care about your data in our <a href="{% url 'privacy_policy' %}">privacy policy.</a>
        </p>
    </div>
</div>
